html {
    width: 100%;
    height: 100%;
    overflow-x: hidden;
}

body {
    background-color: aqua;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 16px;
}

.container {
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.container h1 {
    font-size: 2em;
    font-weight: 900;
    padding-top: 5%;
    padding-bottom: 5%;
}

.row {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-self: center;
}

.row#caption {
    width: 70%;
    flex-direction: column;
    align-items: left;
    background-color: rgb(255, 179, 179);
    border-radius: 15px;
    padding: 4% 2% 4% 2%;
}

.row#titolo {
    width: 40%;
    text-align: center;
}

.row#but {
    width: 40%;
    align-items: center;
    justify-content: center;
    margin-top: 2%;
    margin-bottom: 2%;
}

.row a {
    background-color: rgb(208, 65, 65);
    color: antiquewhite !important;
    font-weight: 700;
    border: none;
    border-radius: 7px;
    box-shadow: 0px 8px 15px rgba(0, 0, 0, 0.1);
    transition: all 0.3s ease 0s;
    cursor: pointer;
    outline: none;
    margin-top: 2%;
    margin-bottom: 2%;
}

.row a:hover {
    background-color: rgb(212, 128, 128);
    border-color: blanchedalmond;
    box-shadow: 0px 15px 20px rgba(229, 46, 46, 0.4) !important;
    transform: translateY(-7px);
}

.row a:active {
    background-color: rgb(255, 0, 0);
    border-color: blanchedalmond;
    box-shadow: 0px 15px 20px rgba(71, 14, 14, 0.4) !important;
    transform: translateY(-2px);
}

.row h3 {
    text-align: center;
    font-weight: 900;
}

.row p {
    font-weight: 500;
}

#titolo h1 {
    background-color: antiquewhite;
    border-radius: 15px;
    margin-top: 4%;
    margin-bottom: 4%;
}

#inner {
    margin: 1% 0% 0% 0%;
}