html {
    width: 100%;
    height: 100%;
    overflow-x: hidden;
}

body {
    background-color: aqua;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 16px;
}

.container {
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.container h1 {
    font-size: 2em;
    font-weight: 900;
    padding-top: 5%;
    padding-bottom: 5%;
}

.row {
    display: flex;
    flex-direction: column;
    width: 50%;
    align-items: center;
}

.row a {
    width: 70%;
    background-color: rgb(208, 65, 65);
    color: antiquewhite !important;
    font-weight: 700;
    border: none;
    border-radius: 7px;
    box-shadow: 0px 8px 15px rgba(0, 0, 0, 0.1);
    transition: all 0.3s ease 0s;
    cursor: pointer;
    outline: none;
    margin-top: 2%;
    margin-bottom: 2%;
}

.row a:hover {
    background-color: rgb(212, 128, 128);
    border-color: blanchedalmond;
    box-shadow: 0px 15px 20px rgba(229, 46, 46, 0.4) !important;
    transform: translateY(-7px);
}

.row a#orari {
    width: 50%;
    margin-top: 5%;
    margin-bottom: 1%;
    background-color: rgb(128, 152, 212);
    color: black;
}

.row a#home {
    width: 50%;
    margin-top: 2%;
    background-color: rgb(128, 152, 212);
    color: black;
}